/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* Tailwind */
@import "tailwindcss";

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
  transition: max-width 0.5s;

  @media (width >= 90rem) {
    max-width: 90rem;
  }
}

@utility aspect-portrait {
  aspect-ratio: 3 / 5;
}

/* Tokens */
@theme {

  /* Colors */
  --color-primary: #ED1944; /* hot pink */
  --color-primary-300: color-mix(in srgb, var(--color-primary), white 40%);
  --color-primary-400: color-mix(in srgb, var(--color-primary), white 20%);
  --color-primary-600: color-mix(in srgb, var(--color-primary), black 20%);
  --color-primary-700: color-mix(in srgb, var(--color-primary), black 40%);
  --color-primary-800: color-mix(in srgb, var(--color-primary), black 60%);

  --color-secondary: #FFCFD2; /* salmon */
  --color-secondary-400: color-mix(in srgb, var(--color-secondary), white 20%);
  --color-secondary-300: color-mix(in srgb, var(--color-secondary), white 40%);
  --color-secondary-200: color-mix(in srgb, var(--color-secondary), white 60%);
  --color-secondary-100: color-mix(in srgb, var(--color-secondary), white 80%);

  --color-tertiary: #E8F5FB; /* light blue */
  --color-foreground: #364153;
  --color-foreground-light: #8196BE;
  --color-panel-dark: #101828;
  --color-panel-light: #FEF8F8;

  --color-milk: rgba(255 255 255 / 75%);

  /* Breakpoints */
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 120rem;
  
  /* Text */
  --text-xs:  0.625rem;  /* 10px */
  --text-sm:  0.875rem;  /* 14px */
  --text-md:  1.0rem;    /* 16px */
  --text-lg:  1.25rem;   /* 20px */
  --text-xl:  1.875rem;  /* 30px */
  --text-2xl: 2.625rem;  /* 42px */
  --text-3xl: 3.125rem;  /* 50px */
  --text-4xl: 3.75rem;   /* 60px */

  --spacing-xs:  0.25rem;   /* 4px  */
  --spacing-sm:  0.5rem;    /* 8px  */
  --spacing-md:  1rem;      /* 16px */
  --spacing-lg:  1.5rem;    /* 24px */
  --spacing-xl:  2rem;      /* 32px */
  --spacing-2xl: 2.5rem;    /* 40px */
  --spacing-3xl: 3rem;      /* 48px */
  --spacing-4xl: 4rem;      /* 64px */
  --spacing-5xl: 5rem;      /* 80px */
}

/* Globals */
@layer base {
  body {
    background: var(--color-panel-dark);
    color: var(--color-foreground);
    font-family: "Inter", sans-serif;
    min-width: 24rem;
  }

  h1,h2,h3,h4,
  .h1,.h2,.h3,.h4 {
    font-family: "Merriweather", serif;
    font-variation-settings: "wdth" 100;
  }

  h1,.h1 {
    @apply text-2xl sm:text-3xl text-primary-700;
  }
  h2,.h2 {
    font-size: var(--text-2xl);
    line-height: var(--text-3xl);
  }
  h3,.h3 {
    font-size: var(--text-xl);
    line-height: var(--text-2xl);
  }
  h4,.h4 {
    font-size: var(--text-lg);
    line-height: var(--text-xl);
    font-weight: bold;
  }

  /* Hack to minimize the logo dynamically. @todo: move to Navbar when knowing how to */

  #navbar {
    transition: padding .2s;
  }

  #navbar #logo .visual,
  #navbar #logo .title {
    transform-origin: left center;
    transition: scale .2s, translate .2s;
  }

  #navbar #logo .subtitle {
    transition: height .2s;
    height: 1.35rem;
    overflow: hidden;
  }

  #navbar.minimize {
    padding: .25rem 0 !important;
  }

  #navbar.minimize #logo {
    & .visual {
      scale: 0.8;
    }

    & .title {
      scale: 0.9;
      translate: 0 -0.3rem;
    }

    & .subtitle {
      height: 0;
    }
  }
}